
.rectangle{
width: 70%;
height: 100px;
border:1px solid;
margin:auto;
background: #333;}

.word {
  text-align: center;
  margin: auto;
  color: #ace7f2;
  font: 500 normal 1.5em 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}
